table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

table tr *:last-child {
    width: 20%;
}

table thead {
    background-color: #595959;
    text-align: center;
    color: #FFD966;
}

table thead tr th {
    font-weight: bold;
    height: 30px;
}

table tbody tr td {
    border: 1px solid black;
    color: #595959;
    font-weight: bold;
    padding: 5px;
}

table tbody tr td a:first-child {
    background-color: #04B8A7;
}

table tbody tr td a {
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    background-color: rgb(172, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}