<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

{% extends 'template.html' %}
{% block conteudo %}
<div class="container">
    <h1>{{titulo}}</h1>
    <table class="table" style="text-align: center;">
        <thead class="cabecalho">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Altura</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="dados">
            {% if qtdaRegistros != 0 %}
            {% for pessoa in pessoas %}
            <tr>
                <td>{{pessoa.id}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.idade}}</td>
                <td>{{pessoa.altura}}</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger">deletar</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="semRegistro">
                <td colspan="5">Não existem registros</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}