<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% extends 'template.html' %}
{% block conteudo %}
<div class="container">
    <h1>{{titulo}}</h1>
    <form action="/criar" method="post">
        <div class="form-group esconder">
            <label for="nome">id</label>
            <input type="text" class="form-control" id="id" name="id" value="{{pessoa.id}}" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{pessoa.nome}}" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="text" class="form-control" id="idade" name="idade" value="{{pessoa.idade}}" placeholder="Digite sua idade">
        </div>
        <div class="form-group">
            <label for="altura">Altura</label>
            <input type="text" class="form-control" id="altura" name="altura" value="{{pessoa.altura}}" placeholder="Digite sua altura">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="reset" class="btn btn-danger">limpar</button>
        </div>
    </form>
</div>
{% endblock %}